<div class="container fixed-top colorBody1">
  <nav class="navbar navbar-expand-lg navbar-light colorNavbar2 mt-1">
    <a class="navbar-brand ml-3">
        <img src="../../../assets/img/ojo.png"  width="40" height="40">
      </a>
    <div class="container-fluid">
      <a class="navbar-brand colorName4 ml-3" ><strong class="text-uppercase federica6">Patricio</strong></a>
      <button
        class="navbar-toggler colorBody1 mr-3"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="container text-justify ml-5 mr-5">

      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link colorName3" aria-current="page" [routerLink]="['/inicio']"  >Portada</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link colorName3" aria-current="page" [routerLink]="['/noticias']" >Noticias</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link colorName3" aria-current="page"  [routerLink]="['/noticiaCompleta']" >Noticia Completa</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link colorName3" aria-current="page"  [routerLink]="['/mensajes']" >Mensajes</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link colorName3" aria-current="page"  [routerLink]="['/ajustes']" >Ajustes</a>
          </li>
        </ul>
         <div class="row">
           <div class="col text-center">
              <p class="mr-2">
              <button class="btn btn-outline-warning my-2" type="button"><span class="badge badge-warning text-uppercase">Contacto</span></button>
            </p>
           </div>
         </div>
        </div>
      </div>
    </div>
  </nav>
</div>
