body {
    background-image: url('./assets/img/fondo2.jpg');
    margin-top: 100px;
    margin-bottom: 110px;
    min-height: 500px;
  }
  
  html {
    font-size: 13px;
  }
  
  .badge-warning {
    background-color: yellow !important;
  }
  
  .btn-outline-warning {
    border-color: yellow !important;
  }
  
  .btn-outline-warning:hover {
    background-color: rgb(221, 221, 0) !important;
  }
  
  .active {
    background-color: rgba(255, 255, 0, 0.120);
    font-weight: 620;
  }
  
  .colorBody1 {
    background-color: yellow !important;
    border: 2px solid black !important;
  }
  
  .colorNavbar2 {
    background-image: url('./assets/img/navfoo.jpg');
    border: 2px solid yellow;
    border-radius: 2px;
    margin: 5px;
    padding: 0px;
  }
  
  .colorName3 {
    color: yellow !important;
  }
  
  .colorName4 {
    color: yellow !important;
    text-shadow: 2px 2px 4px rgb(83, 83, 8);
  }
  
  .margin5 {
    margin-left: 80px;
    margin-right: 80px;
  }
  
  .federica6{
    font-size: 20px !important;
  }
  
  
  
  